#mainPanel {
	width: 70%;
	margin: auto;
	margin-top: 2.5%;
}

th {
	text-align: center;
}

.tabs {
	margin-bottom: 10px;
}

.hide {
	display: none;
}

.error {
    color: red;
}

#playerPanel {
	width: 100%;
	height: auto;
}

#picturePanel {
	width: 184px;
	height: auto;
	float: left;
	display: inline-block;
}

#profilePicture {
	width: 100%;
	height: 184px;
}

#infoPanel {
	width: auto;
	height: auto;
	display: inline-block;
}

#profilePanel {
	width: 100%;
	height: auto;
}